{% extends "/templates/base.html" %}
{% block content %}
<style type="text/css">
body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

span.list_name_span {
  display: inline-block;
  width: 100px;
}

ol.todo_list li {
    padding: .2em 1em;
}

div.list_container {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}
</style>

<div class="col-sm-12">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Calendar for {{ email }}</h1>
            </div>

            <div class="panel-body">
                <div class="col-sm-9">
                    <div id='calendar'></div>
                </div>
                <div class="col-sm-3">
                    <ol class='todo_list'>
                        {% for list in lists %}
                            <li class="task_container_list">
                                <span class="list_name_span">
                                    <a href="/manage_tasks?list_key={{ list.key.urlsafe() }}">{{ list.name }}</a>
                                </span>
                                <div>
                                {% if not list.on_calendar %}
                                <button class="btn btn-success calendar_on" id="{{ list.key.urlsafe() }}">On</button>
                                <button class="btn btn-danger calendar_off" disabled id="{{ list.key.urlsafe() }}">Off</button>
                                {% else %}
                                <button class="btn btn-success calendar_on" disabled id="{{ list.key.urlsafe() }}">On</button>
                                <button class="btn btn-danger calendar_off" id="{{ list.key.urlsafe() }}">Off</button>
                                {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                    <button class="btn btn-primary" id="schedule_btn">Schedule</button>
                    <button class="btn btn-warning" id="save_schedule_btn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function() { // document ready
    // TODO default tasks from on_calendar lists

    $('.calendar_off').on('click', function(e) {
        var list_key = $(this).attr('id');
        toastr.success('Take the list off the calendar.');
        //TODO: send AJAX to backend to set on_calendar to False
        var $ajax = $.getJSON('/api/get_list_off_calendar',
            {
                list_key: list_key
            },
            function(msg) {
                console.log(msg.status);
                if(msg.status === 'Success') {
                    // TODO: remove event source from fullcalendar api
                    $.each( msg.task_list, function(index, element) {
                        $('#calendar').fullCalendar( 'removeEvents', element.event_ID );
                    });

                    //TODO: toggle front end buttons
                    $('.calendar_off#' + list_key).addClass("disabled");
                    $('.calendar_off#' + list_key).attr("disabled", true);
                    $('.calendar_on#' + list_key).removeClass("disabled");
                    $('.calendar_on#' + list_key).attr("disabled", false);
                }
                else {
                    toastr.warning('Failed to remove!');
                }
            }
        );
    });




    $('.calendar_on').on('click', function(e) {
        var list_key = $(this).attr('id');
        toastr.success('Put list on calendar.');
        var source = function( start, end, timezone, callback ) {
            var $ajax = $.getJSON(
                '/api/put_list_on_calendar',
                {
                    list_key: list_key
                },
                function(event) {
                    console.log('event status = ' + event.status);
                    if(event.status === 'off_calendar') {
                        var events = [];
                        $.each( event.task_list, function(index, element) {
                            events.push({
                                title: element.title,
                                start: element.start,
                                id : element.event_ID
                            });
                        });
                        callback(events);
                        //TODO: toggle front end buttons
                        $('.calendar_on#' + list_key).addClass("disabled");
                        $('.calendar_on#' + list_key).attr("disabled", true);
                        $('.calendar_off#' + list_key).removeClass("disabled");
                        $('.calendar_off#' + list_key).attr("disabled", false);
                    }
                    else {
                        toastr.warning('List already on calendar!');
                    }
                }
            );
        }
        $('#calendar').fullCalendar( 'addEventSource', source );
    });

    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultDate: '2015-11-12',
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        eventSources: [
            // your event source
            {
                events: function(start, end, timezone, callback) {
                    var start_date = new Date(start.unix()*1000);
                    var end_date = new Date(end.unix()*1000);
                    var $ajax = $.getJSON(
                        '/api/get_calendar_event',
                        {
                            start: start_date.toISOString(),
                            end: end_date.toISOString()
                        },
                        function(event) {
                            var events = [];
                            $.each( event.event_list, function(index, element) {
                                events.push({
                                    title: element.title,
                                    start: element.start,
                                    end: element.end,
                                    color: '#378006'
                                });
                            });
                            callback(events);
                        }
                    );
                }
            },
            {
                events: function( start, end, timezone, callback ) {
                    var res = '';
                    {% for list in lists %}
                        {% if list.on_calendar %}
                            res += 'list_key={{ list.key.urlsafe() }}&';
                        {% endif%}
                    {% endfor %}
                    var $ajax = $.getJSON(
                        '/api/load_default_on_calendar',
                        res,
                        function(event) {
                            var events = [];
                            $.each( event.task_list, function(index, element) {
                                events.push({
                                    title: element.title,
                                    start: element.start,
                                    id : element.event_ID
                                });
                            });
                            callback(events);
                        }
                    );
                },
            }
        ]
    });

});
</script>

{% endblock %}
