{% extends "/templates/base.html" %}
{% block content %}
<style type="text/css">
body {
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

span.list_name_span {
  display: inline-block;
  width: 100px;
}

span.task_name_span {
    display: inline-block;
    width: 100px;
}

span.accordion_header_span {
    display: inline-block;
    width: 150px;
}

div.list_container {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
}

.accordion-heading {
    padding-top: 10px;
    height: 50px;
    position:relative;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}
</style>

<div class="col-sm-12">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Calendar for {{ email }}</h1>
            </div>

            <div class="panel-body">
                <div class="col-sm-9">
                    <div id='calendar'></div>
                </div>


                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Existing lists
                        </div>

                        <div class="panel-body">
                            <div class="accordion" id="accordion2">
                                {% for list in lists %}
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion_header_span" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ loop.index }}">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            {{ list['name'] }}
                                        </a>
                                        <div class="pull-right">
                                            {% if not list['on_calendar'] %}
                                            <button class="btn btn-success calendar_on" id="{{ list['key'] }}">On</button>
                                            <button class="btn btn-danger calendar_off" disabled id="{{ list['key'] }}">Off</button>
                                            {% else %}
                                            <button class="btn btn-success calendar_on" disabled id="{{ list['key'] }}">On</button>
                                            <button class="btn btn-danger calendar_off" id="{{ list['key'] }}">Off</button>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div id="collapse{{ loop.index }}" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            {% for task in list['tasks'] %}
                                               <li class="list-group-item">
                                                   <form class="form-inline">
                                                       <span class="task_name_span">
                                                           {{ task.name }}
                                                       </span>
                                                       <div class="checkbox">
                                                           <label for="{{ loop.index }}">
                                                               <input type="checkbox" id="{{ task.key.urlsafe() }}" class="schedule_checkbox">
                                                           </label>
                                                       </div>
                                                   </form>
                                               </li>
                                           {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <button class="btn btn-primary" id="schedule_btn">Schedule</button>
                                <button class="btn btn-warning" id="save_schedule_btn">Save</button>
                            </div>
                        </div>
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="#" class="btn btn-primary" id="learn_more">Learn More</a>
                <a href="#" class="btn btn-default" id="go_back">Go Back</a>
            </div>
        </div>
        <div class="push"></div>
    </div>
</div>

<script>
$(function() { // document ready
    var tasks_to_schedule = [];
    var task_ids_after_schedule = [];


    $(document).on('click', '#learn_more', function(e) {
        NProgress.start();
        toastr.success('start');
    });

    $(document).on('click', '#go_back', function(e) {
        NProgress.done(true);
        toastr.success('done');
    });


    $(document).on('click', '#save_schedule_btn', function(e) {
        var tasks_to_save = []
        var events = $('#calendar').fullCalendar('clientEvents');
        $.each( events, function(index, event_object) {
            var index = $.inArray(event_object.id, task_ids_after_schedule);
            if(index != -1) {
                var event_dict = {
                    'fullcalendar_id': event_object.id,
                    'start': event_object.start,
                    'end': event_object.end
                };
                tasks_to_save.push(event_dict);
            }
        });
        var myJSON = JSON.stringify({task_list: tasks_to_save});
        toastr.success('JSON = ' + myJSON);
        $.ajax({
            url: '/api/save_to_google_calendar',
            type: 'POST',
            data: myJSON,
            processData: false,
            contentType: "application/json; charset=UTF-8"
        });
    });

    $(document).on('click', '#schedule_btn', function(e) {
        var source = function( start, end, timezone, callback ) {
            $.ajax({
                url: '/api/schedule',
                data: {
                    task_key: tasks_to_schedule
                },
                traditional: true,
                xhr: function()
                  {
                    var xhr = new window.XMLHttpRequest();
                    //Upload progress
                    xhr.upload.addEventListener("progress", function(evt){
                      if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        NProgress.set(percentComplete);
                      }
                    }, false);
                    //Download progress
                    xhr.addEventListener("progress", function(evt){
                      if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        NProgress.set(percentComplete);
                      }
                    }, false);
                    return xhr;
                  },
                success: function(event) {
                    var events = [];
                    $.each( event.schedule_list, function(index, element) {
                        if(element.status == 'confirmed') {
                            events.push({
                                title: element.name,
                                start: element.start,
                                end: element.end,
                                id : element.task_key,
                                color: '#f7cac9'
                            });
                            task_ids_after_schedule.push(element.task_key);
                        }
                    });
                    callback(events);
                }
            });
        }
        $('#calendar').fullCalendar( 'addEventSource', source );
    });


    $('.schedule_checkbox').change(function() {
        var task_key = $(this).attr('id');
        if($(this).is(":checked")) {
            tasks_to_schedule.push(task_key);
        }
        else {
            var index_in_array = $.inArray(task_key, tasks_to_schedule);
            if( index_in_array!= -1){
                tasks_to_schedule.splice(index_in_array, 1);
            }
        }
    });

    $(document).on('click', '.calendar_off', function(e) {
        var list_key = $(this).attr('id');
        //TODO: send AJAX to backend to set on_calendar to False
        var $ajax = $.getJSON('/api/get_list_off_calendar',
            {
                list_key: list_key
            },
            function(msg) {
                console.log(msg.status);
                if(msg.status === 'Success') {
                    // TODO: remove event source from fullcalendar api
                    $.each( msg.task_list, function(index, element) {
                        $('#calendar').fullCalendar( 'removeEvents', element.event_ID + 'view' );
                    });

                    //TODO: toggle front end buttons
                    $('.calendar_off#' + list_key).addClass("disabled");
                    $('.calendar_off#' + list_key).attr("disabled", true);
                    $('.calendar_on#' + list_key).removeClass("disabled");
                    $('.calendar_on#' + list_key).attr("disabled", false);
                }
                else {
                    toastr.warning('Failed to remove!');
                }
            }
        );
    });

    $(document).on('click', '.calendar_on', function(e) {
        var list_key = $(this).attr('id');
        var source = function( start, end, timezone, callback ) {
            var $ajax = $.getJSON(
                '/api/put_list_on_calendar',
                {
                    list_key: list_key
                },
                function(event) {
                    console.log('event status = ' + event.status);
                    if(event.status === 'off_calendar') {
                        var events = [];
                        $.each( event.task_list, function(index, element) {
                            events.push({
                                title: element.title,
                                start: element.start,
                                id : element.event_ID + 'view'
                            });
                        });
                        callback(events);
                        //TODO: toggle front end buttons
                        $('.calendar_on#' + list_key).addClass("disabled");
                        $('.calendar_on#' + list_key).attr("disabled", true);
                        $('.calendar_off#' + list_key).removeClass("disabled");
                        $('.calendar_off#' + list_key).attr("disabled", false);
                    }
                    else {
                        toastr.warning('List already on calendar!');
                    }
                }
            );
        }
        $('#calendar').fullCalendar( 'addEventSource', source );
    });

    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultDate: '2015-12-12',
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        eventSources: [
            // your event source
            {
                events: function(start, end, timezone, callback) {
                    var start_date = new Date(start.unix()*1000);
                    var end_date = new Date(end.unix()*1000);
                    var $ajax = $.getJSON(
                        '/api/get_calendar_event',
                        {
                            start: start_date.toISOString(),
                            end: end_date.toISOString()
                        },
                        function(event) {
                            var events = [];
                            $.each( event.event_list, function(index, element) {
                                if(element.is_scheduled === 'on'){
                                    events.push({
                                        title: element.title,
                                        start: element.start,
                                        end: element.end,
                                        color: '#ff9800',
                                        url: element.link
                                    });
                                }
                                else {
                                    events.push({
                                        title: element.title,
                                        start: element.start,
                                        end: element.end,
                                        url: element.link,
                                        color: '#378006'
                                    });
                                }
                            });
                            callback(events);
                        }
                    );
                }
            },
            {   // TODO default tasks from on_calendar lists
                events: function( start, end, timezone, callback ) {
                    var res = '';
                    {% for list in lists %}
                        {% if list.on_calendar %}
                            res += 'list_key={{ list["key"] }}&';
                        {% endif%}
                    {% endfor %}
                    var $ajax = $.getJSON(
                        '/api/load_default_on_calendar',
                        res,
                        function(event) {
                            var events = [];
                            $.each( event.task_list, function(index, element) {
                                events.push({
                                    title: element.title,
                                    start: element.start,
                                    id : element.event_ID + 'view'
                                });
                            });
                            callback(events);
                        }
                    );
                },
            }
        ]
    });
});
</script>

{% endblock %}
