{% extends "/templates/base.html" %}
{% block content %}
<style type="text/css">
body {
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 16px;
}

span.list_name_span {
  display: inline-block;
  width: 100px;
}

span.task_name_span {
    display: inline-block;
    width: 100px;
}

span.accordion_header_span {
    display: inline-block;
    width: 150px;
}

div.list_container {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
}

.accordion-heading {
    padding-top: 10px;
    height: 50px;
    position:relative;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}
</style>

<div class="col-sm-12">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Calendar for {{ email }}</h4>
            </div>

            <div class="panel-body">
                <div class="col-sm-9">
                    <div id='calendar'></div>
                </div>


                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Existing lists
                        </div>

                        <div class="panel-body">
                            <div class="accordion" id="accordion2">
                                {% for list in lists %}
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion_header_span" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ loop.index }}">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            {{ list['name'] }}
                                        </a>

                                    </div>

                                    <div id="collapse{{ loop.index }}" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <script>
                                                var tasks_to_schedule = [];
                                            </script>
                                            {% for task in list['tasks'] %}
                                               <li class="list-group-item">
                                                   <form class="form-inline">
                                                       <span class="task_name_span">
                                                           {{ task.name }}
                                                       </span>
                                                       <div class="checkbox">
                                                           <label for="{{ loop.index }}">
                                                               {% if task.event_ID|length > 0 %}
                                                               <input type="checkbox" id="{{ task.key.urlsafe() }}" class="schedule_checkbox" checked="checked">
                                                               <script>
                                                                {% for task_event_id in task.event_ID %}
                                                                    tasks_to_schedule.push('{{task_event_id}}');
                                                                {% endfor %}
                                                               </script>
                                                               {% else %}
                                                               <input type="checkbox" id="{{ task.key.urlsafe() }}" class="schedule_checkbox">
                                                               <script>
                                                               {% if not task.due_date or not task.estimated_finish_time %}
                                                                   $(".schedule_checkbox#{{ task.key.urlsafe() }}").prop("disabled", true);
                                                               {% endif %}
                                                               </script>
                                                               {% endif %}
                                                           </label>
                                                       </div>
                                                   </form>
                                               </li>
                                           {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <button class="btn btn-primary" id="schedule_btn">Schedule</button>
                                <button class="btn btn-warning" id="save_schedule_btn">Save</button>
                            </div>
                        </div>
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="#" class="btn btn-primary" id="learn_more">Learn More</a>
                <!-- <a href="#" class="btn btn-default" id="go_back">Go Back</a> -->
            </div>
        </div>
        <div class="push"></div>
    </div>
</div>

<script>
var task_ids_after_schedule = [];
$(function() { // document ready

    $(document).on('click', '#learn_more', function(e) {
    });

    $(document).on('click', '#go_back', function(e) {
    });

    $(document).on('click', '#schedule_btn', function(e) {
        var source = function( start, end, timezone, callback ) {
            $.ajax({
                url: '/api/schedule',
                data: {
                    fullcalendar_id: tasks_to_schedule
                },
                traditional: true,
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    //Upload progress
                    xhr.upload.addEventListener("progress", function(evt){
                      if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        NProgress.set(percentComplete);
                      }
                    }, false);
                    //Download progress
                    xhr.addEventListener("progress", function(evt){
                      if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        NProgress.set(percentComplete);
                      }
                    }, false);
                    return xhr;
                  },
                success: function(event) {
                    var events = [];
                    $.each( event.schedule_list, function(index, element) {
                        // Check if event id is already on calendar

                        if(element.status == 'confirmed') {
                            events.push({
                                title: element.name,
                                start: element.start,
                                editable: true,
                                end: element.end,
                                id : element.task_key,
                                color: '#0c7cd5'
                            });
                            var index_in_array = $.inArray(element.task_key, task_ids_after_schedule);
                            if( index_in_array == -1){
                                task_ids_after_schedule.push(element.task_key);
                            }

                        }
                        else if (element.status == 'is_scheduled') {
                            // The event is already sechduled and saved on calendar, change event color
                            // find the event
                            var event_object_list = $('#calendar').fullCalendar( 'clientEvents', element.event_id );
                            event_object_list[0].editable = true;
                            event_object_list[0].color = '#0c7cd5';
                            $('#calendar').fullCalendar('updateEvent', event_object_list[0]);
                            var index_in_array = $.inArray(element.event_id, task_ids_after_schedule);
                            if( index_in_array == -1) {
                                task_ids_after_schedule.push(element.event_id);
                            }
                        }
                    });
                    callback(events);
                }
            });
        }
        $('#calendar').fullCalendar( 'addEventSource', source );
    });

    $(document).on('click', '#save_schedule_btn', function(e) {
        var tasks_to_save = []
        var events = $('#calendar').fullCalendar('clientEvents');
        $.each( events, function(index, event_object) {
            // console.log('event_object.id = ' + event_object.id);
            var index = $.inArray(event_object.id, task_ids_after_schedule);
            if(index != -1) {
                // console.log('event_object.end = ' + event_object.end);
                var event_dict = {
                    'fullcalendar_id': event_object.id,
                    'start': event_object.start,
                    'end': event_object.end
                };
                tasks_to_save.push(event_dict);
            }
        });
        var myJSON = JSON.stringify({task_list: tasks_to_save});
        // toastr.success('JSON = ' + myJSON);
        $.ajax({
            url: '/api/save_to_google_calendar',
            type: 'POST',
            data: myJSON,
            processData: false,
            contentType: "application/json; charset=UTF-8",
            success: function(event) {
                $.each( event.update_schedule, function(index, element) {
                    var event_object_list = [];
                    // console.log('element.status = ' + element.status);
                    if(element.status === 'new_created_schedule' ) {
                        // Change the id on fullCalendar from task_key to event_id
                        event_object_list = $('#calendar').fullCalendar( 'clientEvents', element.task_key );
                        event_object_list[0].id = element.event_id;
                    }
                    else if (element.status === 'old_schedule') {
                        event_object_list = $('#calendar').fullCalendar( 'clientEvents', element.event_id );
                    }
                    event_object_list[0].color = '#ff9800';
                    $('#calendar').fullCalendar('updateEvent', event_object_list[0]);
                });
            }
        });
    });


    $('.schedule_checkbox').change(function() {
        var task_key = $(this).attr('id');
        if($(this).is(":checked")) {
            tasks_to_schedule.push(task_key);
        }
        else {
            var index_in_array = $.inArray(task_key, tasks_to_schedule);
            if( index_in_array!= -1){
                tasks_to_schedule.splice(index_in_array, 1);
            }
        }
    });

    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        eventRender: function (event, element) {
            element.attr('href', 'javascript:void(0);');
            element.click(function() {
                $("#startTime").html(moment(event.start).format('MMM Do h:mm A'));
                $("#endTime").html(moment(event.end).format('MMM Do h:mm A'));
                $('#modalTitle').html(event.title);
                $('#modalBody').html(event.description);
                $('#eventUrl').attr('href',event.url);
                $('#fullCalModal').modal();
            });
        },
        defaultDate: '2015-12-20',
        defaultView: 'agendaWeek',
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        eventSources: [
            {
                events: function(start, end, timezone, callback) {
                    var start_date = new Date(start.unix()*1000);
                    var end_date = new Date(end.unix()*1000);
                    var $ajax = $.getJSON(
                        '/api/get_calendar_event',
                        {
                            start: start_date.toISOString(),
                            end: end_date.toISOString()
                        },
                        function(event) {
                            var events = [];
                            $.each( event.event_list, function(index, element) {
                                if(element.is_scheduled === 'on'){
                                    events.push({
                                        title: element.title,
                                        start: element.start,
                                        end: element.end,
                                        id : element.id,
                                        color: '#ff9800',
                                        url: element.link
                                    });
                                }
                                else {
                                    events.push({
                                        editable: false,
                                        title: element.title,
                                        start: element.start,
                                        end: element.end,
                                        id : element.id,
                                        url: element.link,
                                        color: '#378006'
                                    });
                                }
                            });
                            callback(events);
                        }
                    );
                }
            },
            {   // TODO default tasks from on_calendar lists
                events: function( start, end, timezone, callback ) {
                    var res = '';
                    {% for list in lists %}
                        {% if list.on_calendar %}
                            res += 'list_key={{ list["key"] }}&';
                        {% endif%}
                    {% endfor %}
                    var $ajax = $.getJSON(
                        '/api/load_default_on_calendar',
                        res,
                        function(event) {
                            var events = [];
                            $.each( event.task_list, function(index, element) {
                                events.push({
                                    title: element.title,
                                    start: element.start,
                                    id : element.event_ID + 'view'
                                });
                            });
                            callback(events);
                        }
                    );
                },
            }
        ]
    });

    $(document).on('click', '.calendar_off', function(e) {
        var list_key = $(this).attr('id');
        //TODO: send AJAX to backend to set on_calendar to False
        var $ajax = $.getJSON('/api/get_list_off_calendar',
            {
                list_key: list_key
            },
            function(msg) {
                console.log(msg.status);
                if(msg.status === 'Success') {
                    // TODO: remove event source from fullcalendar api
                    $.each( msg.task_list, function(index, element) {
                        $('#calendar').fullCalendar( 'removeEvents', element.event_ID + 'view' );
                    });

                    //TODO: toggle front end buttons
                    $('.calendar_off#' + list_key).addClass("disabled");
                    $('.calendar_off#' + list_key).attr("disabled", true);
                    $('.calendar_on#' + list_key).removeClass("disabled");
                    $('.calendar_on#' + list_key).attr("disabled", false);
                }
                else {
                    toastr.warning('Failed to remove!');
                }
            }
        );
    });

    $(document).on('click', '.calendar_on', function(e) {
        var list_key = $(this).attr('id');
        var source = function( start, end, timezone, callback ) {
            var $ajax = $.getJSON(
                '/api/put_list_on_calendar',
                {
                    list_key: list_key
                },
                function(event) {
                    console.log('event status = ' + event.status);
                    if(event.status === 'off_calendar') {
                        var events = [];
                        $.each( event.task_list, function(index, element) {
                            events.push({
                                title: element.title,
                                start: element.start,
                                id : element.event_ID + 'view'
                            });
                        });
                        callback(events);
                        //TODO: toggle front end buttons
                        $('.calendar_on#' + list_key).addClass("disabled");
                        $('.calendar_on#' + list_key).attr("disabled", true);
                        $('.calendar_off#' + list_key).removeClass("disabled");
                        $('.calendar_off#' + list_key).attr("disabled", false);
                    }
                    else {
                        toastr.warning('List already on calendar!');
                    }
                }
            );
        }
        $('#calendar').fullCalendar( 'addEventSource', source );
    });

});
</script>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                Start: <span id="startTime"></span><br>
                End: <span id="endTime"></span><br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-default"><a id="eventUrl" target="_blank">Event Page</a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
