{% extends "/templates/base.html" %}
{% block content %}
<style type="text/css">

span.task_name_span {
  display: inline-block;
  width: 200px;
}

span.task_eft {
    display: inline-block;
    width: 100px;
}

div.panel-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.panel-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

</style>

<div class="container centered" id="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-8">
                    {{ list.name }}
                </div>

                <div class="col-md-4 text-right">
                    <form action="/manage_lists">
                        <button type="submit" class="btn btn-md btn-info">Back to lists</button>
                    </form>
                </div>
                <div id="intelligent_gap"></div>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    {% if tasks %}
                    <table class="table table-condensed" id="manage_table">
    					<thead>
    						<tr>
    							<th>Name</th>
    							<th>Due Date</th>
    							<th>Remain</th>
    							<th>Delete</th>
    						</tr>
    					</thead>
    					<tbody>
    						{% for task in tasks %}

    						<tr class="tasks_table" id="{{ task.key.urlsafe() }}">
    							<td><a href="#" data-toggle="modal" data-target="#create_task_modal" class="list_modal edit_task">
                                {{ task.name }}</a></td>
    							<td>{{ task.due_date.strftime("%m/%d/%Y %I:%M %p") }}</td>
    							<td>{{ task.estimated_finish_time.isoformat()[0:5] }}</td>
    							<td><a href="#" data-toggle="modal" data-target="#delete_task_modal" class="list_modal delete_task" id="{{ task.key.urlsafe() }}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a></td>
    						<tr>

    						{% endfor%}
    					</tbody>
    				</table>
                    {% else %}
                        <div class="tile">
                            <div class="jumbotron text-center">
                                <h2>The list is empty</h2>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="panel-footer clearfix">
                <div class="col-sm-3">
                    <button data-toggle="modal" data-target="#create_task_modal" class="btn btn-primary create_task">
                        Create Task
                    </button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger" id="sync_btn">
                        Sync With Google Calendar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
$(document).ready(function() {

    var create_dialog, edit_dialog, list_name, list_key;

    list_name = '{{ list.name }}';
    list_key = '{{ list.key.urlsafe() }}';
    var task_id;

    $(document).on('click', '.edit_task', function(event) {
        //toastr.warning('Edit task.');
        //edit_dialog.dialog('open');
        var task_name = $(this).text();
        // console.log(task_name);
        $('#task_name').val($.trim(task_name));
        task_id = $(this).closest('li.list-group-item').attr('id');

        var task_due_date = $(this).closest('li.list-group-item').children('.task_due_date_span').text();
        $('#due_date').val($.trim(task_due_date));

        var task_eft = $(this).closest('li.list-group-item').children('.task_eft_span').text();
        $('#eft').val($.trim(task_eft));

        $('.create_task_title').text('Edit Task');
        $('.modal_button_create_task').text('Save');
    });

    $(document).on('click', '.create_task', function(event) {
        $('.create_task_title').text('Create Task');
        $('.modal_button_create_task').text('Create');

        $('#task_name').val('');
        $('#due_date').val('');
        $('#eft').val('');

        task_id = '';
    });


    $(document).on('click', '.modal_button_create_task', function(e) {
        var task_name = $('#task_name').val();
        var eft = $('#eft').val();
        var due_date = $('#due_date').val();
        if(task_name === "") {
            toastr.warning('Task name must be filled!');
        }
        else if(due_date === "") {
            toastr.warning('Due date must be filled!');
        }
        else if(eft === "") {
            toastr.warning('Estimated finish time must be filled!');
        }
        else {
            var res = 'list_key=' + list_key;
            res += '&task_name=' + task_name;
            res += '&due_date=' + due_date;
            res += '&eft=' + eft;
            res += '&task_key=' + task_id;

            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: 'api/create_task',
                data: res,
                success: appendTask
            });

            function appendTask(msg) {
              if (msg == 'Edited'){
                  $('#'+task_id).children('.task_name_span').children('.edit_task').text(task_name);
                  $('#'+task_id).children('.task_eft_span').text(eft);
                  $('#'+task_id).children('.task_due_date_span').text(due_date);
                  toastr.success('Task edited');
              }
              else if (msg != 'Failed') {
                  // append new task
                  toastr.success('Task created!');
                    // TODO add new task
                  $("ul.list-group").append(
                        "<li class=\"list-group-item\" id=\"" + msg +"\">" +
                            "<span class=\"task_name_span\">" +
                                "<a href=\"#\" data-toggle=\"modal\" data-target=\"#create_task_modal\" class=\"list_modal edit_task\">" +
                                    task_name +
                                "<\/a>" +
                            "<\/span>" +
                            "<span class=\"task_eft_span\">" +
                                eft +
                            "<\/span>" +
                            "<span class=\"task_due_date_span\">" +
                                due_date +
                            "<\/span>" +
                            "<a href=\"#\" data-toggle=\"modal\" data-target=\"#delete_task_modal\" class=\"list_modal delete_task\" id=\"" + msg + "\">" +
                                "<i class=\"glyphicon glyphicon-remove\"><\/i>" +
                            "<\/a>" +
                        "<\/li>"
                    );
              }
            }
        }
    });

    $(document).on('click', '.modal_button_delete_task', function(event) {
        var task_key = $('#delete_task_id').val();
        var res = 'task_key=' + task_key;
        // toastr.success('Task deleting!');
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'api/delete_task',
            data: res,
            success: function(msg) {
                console.log(msg)
                if (msg === 'Success') {
                    var task_li = $('#' + task_key).closest('.list-group-item');
                    task_li.remove();
                    toastr.success('Task deleted!');
                }
            }
        });
    });

    $(document).on('click', '.delete_task', function(event) {
        var task_key = $(this).attr('id');
        var task_name = $(this).closest('.list-group-item').children('.task_name_span').children('.edit_task').text();
        $('#delete_task_title').text('Deleting "' + task_name + '"');
        $('#delete_task_id').val(task_key);
    });
});
</script>

<!-- Modal Delete -->
<div class="modal fade" id="delete_task_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="delete_task_title">Modal Header</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <input type="hidden" id="delete_task_id">
          <button type="button" class="btn btn-default modal_button_delete_task" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>


<!-- Modal Create -->
<div class="modal fade" id="create_task_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title create_task_title">Create Task</h4>
        </div>
        <div class="modal-body">
            <div>Task Name
                <input type="text" class="form-control" id="task_name">
            </div>

            <div class="row">
                <div class="col-sm-12">
                    Due Date
                </div>
            </div>

            <div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" class="form-control" id="due_date"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                        </script>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    Estimated Finish Time
                    <!-- <input type="text" class="form-control" id="eft"> -->
                    <select id="eft">
                    {% for option in eft_choices %}
                        <option value={{ option }} {% if loop.first %} selected {% endif %}>{{ option }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" id="delete_task_id">
          <button type="button" class="btn btn-default modal_button_create_task" data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}
