{% extends "/templates/base.html" %}
{% block content %}

<style type="text/css">
div.panel-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
span.list_name_span {
  display: inline-block;
  width: 200px;
}

</style>

<div class="container centered">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Existing Lists for {{ email }}</h1>
            </div>

            <div class="panel-body">
                <div class="row">

                        <ol class='todo_list'>
                            {% for list in lists %}
                            <li>
                                <span class="list_name_span">
                                    <a href="/manage_tasks?list_key={{ list.key.urlsafe() }}">{{ list.name }}</a>
                                </span>
                                <span class="total_seconds_span" id="{{ list.key.urlsafe() }}">
                                    Total seconds.
                                </span>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>

                <div class="row">
                    <div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="list_name">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit" id="create_list_btn">Create List</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit" id="sync_list_btn">Fetch Google Calendar List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $.getJSON(
        '/api/total_time_for_list',
        function(json) {
            var events = [];
            $.each( json.list, function(index, element) {
                $('.total_seconds_span#' + element.list_key).text('Total eft    ' + element.hours + ':' + element.minutes);
            });
        }
    );

    $(document).on('click', "#sync_list_btn",function(e) {
        toastr.success('Sync!');
        $.ajax({
            type: 'GET',
            url: 'api/sync_google_calendar_to_list',
            success: function(msg) {
                console.log(msg)
                if (msg != 'Failed') {
                    // append new list
                    toastr.success('Sync complete!');
                }
            }
        });
    });

    $("#create_list_btn").on('click', function(e) {
        e.preventDefault();
        var list_name = $('#list_name').val();
        var res = "list_name=" + list_name;
        toastr.warning('Creating list: ' + list_name);
        $.ajax({
            type: 'POST',
            url: 'api/create_list',
            data: res,
            success: function(msg) {
                console.log(msg)
                if (msg != 'Failed') {
                    // append new list
                    toastr.success(name + 'List created!');
                    $("ol.todo_list").append(
                            "<li><a href=\"/manage_tasks?list_key="
                            + msg
                            + "\">"
                            + list_name
                            + "</a></li>"
                    );
                }
            }
        });
    });
});
</script>

{% endblock %}
