{% extends "/templates/base.html" %}
{% block content %}
<style type="text/css">
.table .progress {
    margin-bottom: 0 !important;
    height : 100%;
    width : 100%;
    font-size : 12px;
}

.table {
    margin-bottom: 0 !important;
}

.modal-label {
  width:200px;
}

span.task_name_column {
  display: inline-block;
  width: 200px;
}

span.task_eft {
    display: inline-block;
    width: 100px;
}

div.panel-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.panel-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

</style>

<div class="container centered" id="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-8">
                    <h4>{{ list.name }}</h4>
                </div>

                <div class="col-md-4 text-right">
                    <button data-toggle="modal" data-target="#edit_list_modal" class="btn btn-warning edit_list" id="{{ list.key.urlsafe() }}">Edit List</button>
                </div>
                <div id="intelligent_gap"></div>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table" id="manage_table">
    					<thead>
    						<tr>
    							<th>Done</th>
    							<th>Name</th>
    							<th>Due Date</th>
    							<th>Remaining Time</th>
    							<th>Delete</th>
    						</tr>
    					</thead>
    					<tbody class="tasks_table_body">
    						{% for task in tasks %}

    						<tr class="tasks_table {% if task.done %}active{% endif %}" id="{{ task.key.urlsafe() }}">
    							<td class="task_done_column"><input type=checkbox id="task_done_checkbox" {% if task.done %}checked{% endif %}></td>
    							<td class="task_name_column"><a href="#" data-toggle="modal" data-target="#create_task_modal" class="list_modal edit_task">
                                {{ task.name }}</a></td>
    							<td class="task_due_date_column">{% if task.due_date %} {{ task.due_date.strftime("%m/%d/%Y %I:%M %p") }} {% endif %}</td>
    							<td class="task_eft_column"></td>
    							<td><a href="#" data-toggle="modal" data-target="#delete_task_modal" class="list_modal delete_task" id="{{ task.key.urlsafe() }}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a></td>
    						</tr>

    						{% endfor%}
    					</tbody>
    				</table>
                        <div class="empty_list_tile">
                    {% if not tasks %}
                            <div class="jumbotron text-center">
                                <h2 class="emtpy_list_title">The list is empty</h2>
                            </div>
                    {% endif %}
                        </div>
                </div>
            </div>

            <div class="panel-footer clearfix">
                <div class="col-sm-3">
                    <button data-toggle="modal" data-target="#create_task_modal" class="btn btn-primary create_task">
                        Create Task
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
$(document).ready(function() {
    {
        $("#manage_table").tablesorter({
            // this will apply the bootstrap theme if "uitheme" widget is included
            // the widgetOptions.uitheme is no longer required to be set
            theme : "bootstrap",

            widthFixed: true,

            headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
            headers : {
                0 : { sorter : false },
                4 : { sorter : false }
            },
            sortList: [[2,0]],

            widgets : [ "uitheme"]

        });

    }

    function getRemainingTime(){
        $.getJSON(
            '/api/get_remaining_time?list_key={{ list.key.urlsafe() }}',
            function(json) {
                var events = [];
                $.each( json.remaining_time_list, function(index, element) {
                    $('#' + element.task_key).children('.task_eft_column').text(element.remaining_time);
                });
            }
        );
    }

    getRemainingTime();

    NProgress.done(true);

    var create_dialog, edit_dialog, done_dialog, list_name, list_key;

    list_name = '{{ list.name }}';
    list_key = '{{ list.key.urlsafe() }}';
    var task_id;

    $(document).on('click', '#task_done_checkbox', function(event){
        var done;
        var done_task_id = $(this).closest('tr.tasks_table').attr('id');
        $(this).attr("checked", !$(this).attr("checked"));
        if($(this).attr("checked")) {
            console.log("check");
            $(this).closest('.tasks_table').addClass('active');
            $('#done_task_modal').modal('show');
            $('#done_task_id').val(done_task_id);
            done = 'checked';
        }
        else{
            // console.log("uncheck");
            $(this).closest('.tasks_table').removeClass('active');
            done = 'notchecked';
        }
        // var res = 'task_key=' + done_task_id;
        // res += '&done=' + done;

        $.ajax({
            type: 'POST',
            url: 'api/edit_task_done',
            data: {
              'task_key': done_task_id,
              'done': done
            },
            success: doneTask
        });

        function doneTask(msg) {
          if (msg != 'Success'){
            toastr.error("Error!");
          }
        }

    });

    $(document).on('click', '.edit_task', function(event) {
        //toastr.warning('Edit task.');
        //edit_dialog.dialog('open');
        var task_name = $(this).text();
        // console.log(task_name);
        $('#task_name').val($.trim(task_name));
        task_id = $(this).closest('tr.tasks_table').attr('id');

        var task_due_date = $(this).closest('tr.tasks_table').children('.task_due_date_column').text();
        $('#due_date').val($.trim(task_due_date));

        var task_eft = $(this).closest('tr.tasks_table').children('.task_eft_column').text();
        $('#eft').val($.trim(task_eft));

        $('.create_task_title').text('Edit Task');
        $('.modal_button_create_task').text('Save');
        $(function () {
            var now = new Date();
            now.setHours(23);
            now.setMinutes(59);
            $('#datetimepicker1').datetimepicker({
                defaultDate : now
            });
        });
    });

    $(document).on('click', '.create_task', function(event) {
        $('.create_task_title').text('Create Task');
        $('.modal_button_create_task').text('Create');

        $('#task_name').val('');
        $('#due_date').val('');
        $('#eft').val('');

        task_id = '';
        $(function () {
            var now = new Date();
            now.setHours(23);
            now.setMinutes(59);
            $('#datetimepicker1').datetimepicker({
                defaultDate : now
            });
        });
    });


    $(document).on('click', '.modal_button_create_task', function(e) {
        var task_name = $('#task_name').val();
        var eft = $('#eft').val();
        var due_date = $('#due_date').val();
        if(task_name === "") {
            toastr.warning('Task name must be filled!');
        }
        else {
            if(eft === null) {
                eft = "";
            }
            if(task_id)
                toastr.info("Editing task...");
            else
                toastr.info("Creating task...");
            var res = 'list_key=' + list_key;
            res += '&task_name=' + task_name;
            res += '&due_date=' + due_date;
            res += '&eft=' + eft;
            res += '&task_key=' + task_id;

            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: 'api/create_task',
                data: res,
                success: appendTask
            });

            function appendTask(msg) {
              if (msg == 'Edited'){
                  $('#'+task_id).children('.task_name_column').children('.edit_task').text(task_name);
                  $('#'+task_id).children('.task_eft_column').text(eft);
                  $('#'+task_id).children('.task_due_date_column').text(due_date);
                    //$.getJSON(
                    //    '/api/get_remaining_time?list_key={{ list.key.urlsafe() }}',
                    //    function(json) {
                    //        toastr.success('hi');
                    //        var events = [];
                    //        $.each( json.remaining_time_list, function(index, element) {
                    //            var elem = $('#' + element.task_key).children('.task_eft_column');
                    //            console.log(elem.text());
                    //            $('#' + element.task_key).children('.task_eft_column').text(element.remaining_time);
                    //        });
                    //    }
                    //);
                  $(".tasks_table_body").trigger('update');
                  toastr.success('Task edited');
              }
              else if (msg != 'Failed') {
                  // append new task
                  toastr.success('Task created!');
                  var strVar="";
                  strVar += "<tr class=\"tasks_table\" id=\"" + msg + "\">";
    			  strVar += "<td class=\"task_done_column\"><input type=checkbox id=\"task_done_checkbox\"><\/td>";
                  strVar += "   <td class=\"task_name_column\"><a href=\"#\" data-toggle=\"modal\" data-target=\"#create_task_modal\" class=\"list_modal edit_task\">";
                  strVar += "   " + task_name + "<\/a><\/td>";
                  strVar += "	<td class=\"task_due_date_column\">" + due_date + "<\/td>";
                  strVar += "	<td class=\"task_eft_column\">" + eft + "<\/td>";
                  strVar += "	<td><a href=\"#\" data-toggle=\"modal\" data-target=\"#delete_task_modal\" class=\"list_modal delete_task\" id=\"" + msg + "\">";
                  strVar += "   <i class=\"glyphicon glyphicon-remove\"><\/i>";
                  strVar += "   <\/a><\/td>";
                  strVar += "<\/tr>";

                  $(".tasks_table_body").trigger('addRows', [strVar, true]);
                  if(document.getElementById('manage_table').rows.length == 2){
                    //console.log("removing empty list tile");
                    $('.empty_list_tile').children('.jumbotron').remove();
                  }
              }
              else if (msg == 'Failed'){
                  toastr.error('Error!');
              }
            }
        }
    });

    function deleteTask(task_key, res){
        $.ajax({
            type: 'POST',
            url: 'api/delete_task',
            data: res,
            success: function(msg) {
                console.log(msg)
                if (msg === 'Success') {
                    var task_li = $('#' + task_key).closest('.tasks_table');
                    task_li.remove();
                    toastr.success('Task deleted!');
                    if(document.getElementById('manage_table').rows.length == 1){
                      //console.log("removing empty list tile");
                      var strVar="";
                      strVar += "<div class=\"jumbotron text-center\">";
                      strVar += "    <h2 class=\"emtpy_list_title\">The list is empty<\/h2>";
                      strVar += "<\/div>";
                      $('.empty_list_tile').append(strVar);
                    }
                }
                else{
                    toastr.error('Error!');
                }
            }
        });
    }

    $(document).on('click', '.modal_button_delete_task_delete_calendar', function(event) {
        toastr.info('Deleting task...');
        var task_key = $('#delete_task_id').val();
        var res = 'task_key=' + task_key;
        res += '&delete_calendar=on';
        deleteTask(task_key, res);
    });

    $(document).on('click', '.modal_button_delete_task', function(event) {
        toastr.info('Deleting task...');
        var task_key = $('#delete_task_id').val();
        var res = 'task_key=' + task_key;
        deleteTask(task_key, res);
    });

    $(document).on('click', '.delete_task', function(event) {
        var task_key = $(this).attr('id');
        var task_name = $(this).closest('.tasks_table').children('.task_name_column').children('.edit_task').text();
        $('#delete_task_title').text('Deleting "' + $.trim(task_name) + '"');
        $('#delete_task_id').val(task_key);
    });

    $(document).on('click', '.modal_button_edit_list', function(event) {
        var res = 'list_key=' + list_key;
        var new_list_name = $('#edit_list_name').val();
        if(list_name === ""){
            toastr.warning("List Name cannot be empty!");
        }
        else{
            toastr.info("Editing list...");
            res += "&list_name=" + new_list_name;
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: 'api/create_list',
                data: res,
                success: function(msg) {
                    console.log(msg)
                    if (msg === 'Edited') {
                        $('#'+list_key).closest(".panel-heading").children(".col-md-8").text($.trim(new_list_name));
                        list_name = new_list_name;
                        toastr.success('List edited!');
                    }
                    else if (msg === 'Repeated') {
                        toastr.error('List \"' + new_list_name + '\" already exists!');
                    }
                }
            });
        }
    });

    $(document).on('click', '.edit_list', function(event) {
        $('#edit_list_title').text('Editing "' + $.trim(list_name) + '"');
        $('#edit_list_name').val($.trim(list_name));
        $('#edit_list_id').val(list_key);
    });

    $(document).on('click', '.delete_list', function(event) {
        $('#delete_list_title').text('Deleting "' + $.trim(list_name) + '"');
        $('#delete_list_id').val(list_key);
    });

    function deleteList(res){
        //event.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'api/delete_list',
            data: res,
            success: function(msg) {
                console.log(msg)
                if (msg === 'Success') {
                    window.location.assign("/manage_lists");
                    toastr.success('List deleted!');
                }
                else{
                    toastr.error('Error!');
                }
            }
        });
    }

    $(document).on('click', '.modal_button_delete_list_delete_calendar', function(event) {
        toastr.info('Deleting list...');
        var res = 'list_key=' + list_key;
        res += '&delete_calendar=on';
        deleteList(res);
    });

    $(document).on('click', '.modal_button_delete_list', function(event) {
        toastr.info('Deleting list...');
        var res = 'list_key=' + list_key;
        deleteList(res);
    });

    $(document).on('click', '.modal_button_done_task_delete_calendar', function(event) {
        toastr.info('Deleting scheduled tasks...');

        var res = 'task_key=' + $('#done_task_id').val();
        $.ajax({
            type: 'POST',
            url: 'api/delete_scheduled_tasks',
            data: res,
            success: function(msg) {
                console.log(msg)
                if (msg === 'Success') {
                    toastr.success('Scheduled tasks deleted!');
                }
                else{
                    toastr.error('Error!');
                }
            }
        });
    });


});
</script>

<!-- Modal Done -->
<div class="modal fade" id="done_task_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="done_task_title">Modal Header</h4>
        </div>
        <div class="modal-body">
            Would you like to delete future scheduled tasks on Google Calendar?
        </div>
        <div class="modal-footer">
          <input type="hidden" id="done_task_id">
          <button type="button" class="btn btn-danger modal_button_done_task_delete_calendar" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary modal_button_done_task" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Edit List -->
<div class="modal fade" id="edit_list_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="edit_list_title">Modal Header</h4>
        </div>
        <div class="modal-body">List Name
            <input type="text" class="form-control" id="edit_list_name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary modal_button_edit_list" data-dismiss="modal">Save</button>
          <button data-toggle="modal" data-target="#delete_list_modal" data-dismiss="modal" class="btn btn-danger delete_list">Delete List</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Delete List -->
<div class="modal fade" id="delete_list_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="delete_list_title">Modal Header</h4>
        </div>
        <div class="modal-body">
            Would you like to delete the tasks on Google Calendar?
        </div>
        <div class="modal-footer">
          <input type="hidden" id="delete_list_id">
          <button type="button" class="btn btn-danger modal_button_delete_list_delete_calendar" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary modal_button_delete_list" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="delete_task_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="delete_task_title">Modal Header</h4>
        </div>
        <div class="modal-body">
            Would you like to delete the task on Google Calendar?
        </div>
        <div class="modal-footer">
          <input type="hidden" id="delete_task_id">
          <button type="button" class="btn btn-danger modal_button_delete_task_delete_calendar" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary modal_button_delete_task" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Create -->
<div class="modal fade" id="create_task_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title create_task_title">Create Task</h4>
        </div>
        <div class="modal-body">
            <div class="form-inline">
              <div class="form-group">
                <label for="task_name" class="modal-label">Task Name</label>
                <input type="text" class="form-control" id="task_name">
              </div>
            </div>

            <div class="form-inline">
                <div class="form-group">
                  <label for="due_date" class="modal-label">Due Date</label>
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" id="due_date"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label for="eft" class="modal-label">Estimated Finish Time</label>
                    <select id="eft" class="form-control">
                    {% for option in eft_choices %}
                        <option value={{ option }} {% if loop.first %} selected {% endif %}>{{ option }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary modal_button_create_task" data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}
