{% extends "/templates/base.html" %}
{% block content %}


<div class="container centered" id="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Existing Lists</h1>
        </div>

        <div class="panel-body">
            <div class="row">
                <div>
                    <Button class="btn btn-primary">Create list</Button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
